html{
	margin: 50px;

}

.thumbnail {
	
}
.jumbotron {
	background-color: pink; 
}


#navbar {
	background-color: lightblue;
	color: gray; 
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















