#navbar {
	color: #5e5656;
	opacity: .5; 
}

.cover-heading  {
	  text-align: center;
}

.lead {
	  text-align: center;
}

p {
 color:gray; 
}

.cover-heading {
	font-size: 56px; 
}

a {
	color: #5e5656;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















