html{
	margin: 50px;
	
}
.navbar-header {
	background-color: yellow; 

}

.jumbotron {
	background-color: pink; 
}

#navbar {
	background-color: lightblue;
	color: gray; 
}

iframe {
	height: 250px; 
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















